body {
    background-color: lightblue;
}

h1 {
    color: black;
    text-align: center;
}

p {
    font-family: "Courier 10 Pitch";
    font-size: 60px;
}

.tuxclass {
    background-image: url("images/tux.jpg");
}